<div id="<%= dom_id postit_note %>">
  <p>
    <strong>Note title:</strong>
    <%= postit_note.note_title %>
  </p>

  <p>
    <strong>Postit content:</strong>
    <%= postit_note.postit_content %>
  </p>

  <p>
    <strong>User:</strong>
    <%= postit_note.user_id %>
  </p>

</div>
