<h1>Editing postit note</h1>

<%= render "form", postit_note: @postit_note %>

<br>

<div>
  <%= link_to "Show this postit note", @postit_note %> |
  <%= link_to "Back to postit notes", postit_notes_path %>
</div>
